.cursos .container {
  padding: 120px 20px 20px;
}
.cursos {
  background-color: var(--bg-body-color);
  border-bottom: 1px solid var(--border-color);
}

.cursos .sub-title {
  color: var(--sub-title);
  max-width: 4ch;
}
.cursos .sub-title span {
  color: #67dd0a;
}
.courses {
  width: 100%;
}
/* CURSOS */
.course {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


/* BOX CIRCULAR */
.box-course {
  position: relative;
  margin: 50px;
}
.box-course .text-course {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.box-course .text-course h2 {
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 1px;
}
.box-course .text-course small {
  font-size: 18px;
  display: block;
}
.box-course .text-course .html{
  color: #52a8ff;
}
.box-course .text-course .css {
  color: #ff0070;
}
.box-course .text-course .javascript {
  color: #F7DF1E;
}
.box-course .text-course .react {
  color: #00D8FF;
}

.circle-course {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-course .points {
  width: 3px; 
  height: 15px;
  background: #fff;
  position: absolute;
  border-radius: 3px;
  transform: rotate(calc(var(--i)*var(--rot))) translateY(-100px);
  
}
.points.marked {
  animation: glow 0.04s linear forwards;
  animation-delay: calc(var(--i)* 0.05s);
}

@keyframes glow
 {
   0% { 
     background: #0007;
     box-shadow: none;
   }
   100% { 
    background: #0f0;
    box-shadow: 0 0 10px #0f0;
  }
 }