.cursos {
  background-color: var(--bg-body-color);
  border-bottom: 1px solid var(--border-color);
}

.cursos .sub-title {
  color: var(--sub-title);
  max-width: 4ch;
}
.cursos .sub-title span {
  color: #67dd0a;
}

/* CURSOS */
.secondary-bar-progress {
  height: 12px;
  width: 550px;
  background-color: #CCC;
  position: relative;
}
.content-progress-course {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 12px;
  margin-bottom: 15px;
}
.course .content-progress .content-progress-course p {
  color: var(--sub-title);

  text-align: right;
}
.secondary-bar-progress .progress-bar-100{
  position: absolute;
  height: 100%;
  max-width: 100%;
  background-color: #0fd439;
  animation: progress-animation 5s;
  animation-fill-mode: forwards;
}
.secondary-bar-progress .progress-bar-95{
  position: absolute;
  height: 100%;
  max-width: 95%;
  background-color: #0fd439;
  animation: progress-animation 5s;
  animation-fill-mode: forwards;
}
.secondary-bar-progress .progress-bar-90{
  position: absolute;
  height: 100%;
  max-width: 90%;
  background-color: #0fd439;
  animation: progress-animation 5s;
  animation-fill-mode: forwards;
}
.secondary-bar-progress .progress-bar-75{
  position: absolute;
  height: 100%;
  max-width: 75%;
  background-color: #0fd439;
  animation: progress-animation 5s;
  animation-fill-mode: forwards;
}
.secondary-bar-progress .progress-bar-50{
  position: absolute;
  height: 100%;
  max-width: 50%;
  background-color: #0fd439;
  animation: progress-animation 5s;
  animation-fill-mode: forwards;
}

.secondary-bar-progress .progress-bar-5{
  position: absolute;
  height: 100%;
  max-width: 5%;
  background-color: #0fd439;
  animation: progress-animation 5s;
  animation-fill-mode: forwards;
}

@keyframes progress-animation{
  0% { width: 0%; } 
  100% { width: 100%}
}

.training__extra h2 {
  font-size: 1.5rem;
  line-height: 1.4;
  color: var(--sub-title);
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}
.training__extra h2::before {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -36px;
  top: 2px;
}

.courses h2::before {
  background: url('../img/cursos.svg') no-repeat center center;
}

.languages {
  margin-top: 60px;
}

.languages h2::before {
  background: url('../img/idiomas.svg') no-repeat center center;
}

.training__extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
}
.training__extra span {
  color: var(--icon-color);
}

@media (max-width: 425px) {
  .cursos .container {
    max-width: 425px;
  }
  .content-progress, .languages {
    width: 400px;
  }
  .training__extra h2 {
    margin-left: 25px;
  }
}