.formacao {
  background-color: var(--c11);
  color: #ffffff;
}
.formation {
  padding: 120px 20px;
  position: relative;
}
.formacao .sub-title {
  color: #000000;
  max-width: 5ch;
}

.formation__text {
  font-size: 1.5rem;
  line-height: 1.33;
  color: var(--c10);
  max-width: 36ch;
  margin-bottom: 60px;
  color: var(--c5);
}
.formation__text strong {
  color: #ffffff;
}

.graduate__list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.graduate {
  background-color: #000000;
  border-radius: 4px;
  padding: 18px;
  max-width:  220px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  flex: 1;

  box-shadow: 2px 2px 5px #2a2a2a;
  transition: transform 200ms ease-in-out;
}

.graduate:hover {
  transform: scale(1.08);
}
.graduate__type {
  margin-bottom: 40px;
}
.graduate__course {
  margin-bottom: 40px;
}
.graduate__course::before {
  content: " ";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  left: 0px;
}
.graduate span {
  text-transform: uppercase;
  line-height: 20px;
  font-size: 0.875rem;
  color: var(--c8);
}
.graduate h2 {
  font-size: 0.875rem;
}





/* RESPONSIVO */
@media (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
  }
  .formation {
    padding: 60px 20px;
    gap: 40px;
  }
  .formation .sub-title {
    color: #fff;

  }
  .formation .formation__text {
    font-size: 1.125rem;
  }
  .training__extra h2::before {
    position: initial;
    margin-bottom: 10px;
  }
}