header {
  background-color: var(--bg-gray-color);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 92px;
  max-width: 1200px;
  margin: 0 auto 3rem;
}
#btn-mobile {
  display: none;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.header-menu a {
  font-size: 1rem;
  line-height: 42px;
  color: var(--sub-title);
  display: block;
  position: relative;
  border-bottom: 2px solid transparent;  
  transition: border-color .4s;
}
.header-menu a:hover {
  border-color: #b6f829;
}

.header-menu .dark-mode {
  margin-left: 50px;
}
.header-menu .dark-mode li {
  color: #FFF;
  line-height: 42px;
  cursor: pointer;
}

.header-menu .dark-mode li i {
  font-size: 1.5rem;
  transition: .4s;
}
.header-menu .dark-mode li i:hover {
  color: #b6f829;
}

#icon-dark {
  width: 30px;
  cursor: pointer;
}

/* RESPONSIVIDADE */
@media (max-width: 800px) {
  .header {
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding: 20px 10px;
  }
  /* .header-menu a {
    background-color: var(--c1);
    border-radius: 4px;
  } */
  
}

@media (max-width: 600px) {
  .header {
    margin: 0;
  }
  #btn-mobile {
    display: block;
  }
  #btn-mobile #icon-mobile_close {
    display: none;
  }
  
  .header-menu {
    /* display: block; */
    position: absolute;
    width: 100%;
    top: 90px;
    right: 0;
    background-color: var(--bg-gray-color);
    padding-left: 20px;
    transition: 0.4s;
    z-index: 999;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
  }
  
  #nav.active .header-menu {
    display: block;
    justify-content: center;
    height: 270px;
    visibility: visible;
    overflow: auto;
  }
  .header-menu .dark-mode {
    margin-left: 0px;
  }
  #nav.active #icon-mobile {
    display: none;
  }
  #nav.active #icon-mobile_close {
    display: block;
  }
}