header {
  background-color: var(--bg-gray-color);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 92px;
  max-width: 1200px;
  margin: 0 auto 3rem;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.header-menu a {
  font-size: 1rem;
  line-height: 42px;
  color: var(--sub-title);
  display: block;
  position: relative;
  border-bottom: 2px solid transparent;  
  transition: .4s;
}
.header-menu a:hover {
  border-color: #b6f829;
}

.header-menu .dark-mode {
  margin-left: 50px;
}
.header-menu .dark-mode li {
  color: #FFF;
  line-height: 42px;
  cursor: pointer;
}

.header-menu .dark-mode li i {
  font-size: 1.5rem;
  transition: .4s;
}
.header-menu .dark-mode li i:hover {
  color: #b6f829;
}

#icon-dark {
  width: 30px;
  cursor: pointer;
}

/* RESPONSIVIDADE */
@media (max-width: 800px) {
  .header {
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding: 20px 10px;
  }
  .header-menu a {
    background-color: var(--c1);
    border-radius: 4px;
  }
}