.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;

  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  
}

.introducao h1 {
  font-size: 4.5rem;
  margin-bottom: 40px;
  line-height: 80px;
  color: var(--c10);
  position: relative;
}

.introducao h1::before {
  padding: 4px 0px;
  content: " ";
  display: block;
  width: 130px;
  height: 100px;
  background: url(../img/Detalhe.svg) no-repeat center center;
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
}
/* .introducao__text {
  margin-left: 90px;
} */
.introducao__text p {
  font-size: 1.5rem;
  color: var(--c10);
}

.introducao__text a {
  background-color: #b6f829;
  color: #365000;
  font-size: 1.125rem;
  display: inline-block;
  text-transform: uppercase;
  padding: 15px 36px;
  border-radius: 4px;
  margin-top: 40px;
  transition: .4s;
}
.introducao__text a:hover {
  background-color: #67DD0A;
}


/* RESPONSIVIDADE */
@media (max-width: 1000px) {
  .container {
    align-items: center;
  }
  .introducao h1 {
    font-size: 3.4rem;;
  }
}
@media (max-width: 800px) {
  .introducao img {
    width: 70%;
    /* height: 70%; */
  }
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .introducao h1 {
    font-size: 3rem;
  }
  .introducao h1::before {
    width:100px;
    height: 70px;
    background-size: 70%;
    top: 0;
    left: -20px;
  }
  .introducao__text p {
  font-size: 1rem;
    
  }
}

@media (max-width: 540px) {
  .introducao {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .introducao img {
    display: none;
  }
  .introducao__text h1 {
    margin-bottom: 20px;
    line-height: 70px;
  }
  .introducao h1::before {
    
    top: -5px;
    left: 52px;
  }
}