.portfolio-content {
  margin-bottom: 2rem;
}

.portfolio-top .content-top {
  display: flex ;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto 4rem;

}
.border-top {
  border-bottom: 1px solid #DDDDDD;
}
.portfolio-top .content-top-title .title {
  color: var(--c10);
  font-size: 6rem;
  line-height: 1;
  word-break: break-all;  
  text-transform: uppercase;
}
.portfolio-top .content-top-title p {
  font-size: 1.2rem;
  color: var(--c8);
}
.portfolio-top .title span {
  color: #67dd0a;
}

.portfolio-top .content-top img {
  max-width: 450px;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0px rgb(0 0 0 / 20%);
}

.portfolio-top .content-top .content-top-img {
  border: 1px solid #DDD;
  box-shadow: 0 15px 40px 0px rgb(0 0 0 / 20%);
}

/* CONTEUDO PRINCIPAL */
.portfolio-content {
  background-color: #FAFAFA;;
  padding: 3rem;
}
.portfolio-content .portfolio-list {
  display: flex;
  padding: 2rem 0;
  max-width: 1200px; 
  margin: 0 auto;
}

.portfolio-content .other-portfolio-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.portfolio-content .other-portfolio-content .portfolio-card {
  width: 385px;
  height: 250px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;  
  margin-bottom: 15px;
  margin-right: 15px;
}

.portfolio-content .other-portfolio-content #portfolio1 {
  background-image: url("../img/foodfy.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  border: 1px solid #DDD;
  box-shadow: 0 1px 4px 0px rgb(0 0 0 / 20%);
}

.portfolio-content .other-portfolio-content #portfolio2 {
  background-image: url("../img/podcastr.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  border: 1px solid #DDD;
  box-shadow: 0 1px 4px 0px rgb(0 0 0 / 20%);
}
.portfolio-content .other-portfolio-content #portfolio3 {

  background-image: url("../img/electrum.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  border: 1px solid #DDD;
  box-shadow: 0 1px 4px 0px rgb(0 0 0 / 20%);

}
.portfolio-content .other-portfolio-content #portfolio4 {
  background-image: url("../img/bikcraft.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  border: 1px solid #DDD;
  box-shadow: 0 1px 4px 0px rgb(0 0 0 / 20%);

}

.portfolio-content .other-portfolio-content #portfolio5 {
  background-image: url("../img/beautySalon.jpg");
  background-size: cover;
  background-position: center top left;
  background-repeat: no-repeat;
  border: 1px solid #DDD;
  box-shadow: 0 1px 4px 0px rgb(0 0 0 / 20%);
}
.portfolio-content .other-portfolio-content #portfolio6 {
  background-image: url("../img/gallery.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  border: 1px solid #DDD;
  box-shadow: 0 1px 4px 0px rgb(0 0 0 / 20%);

}

.portfolio-content .portfolio-card-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 1.75rem;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #67dd0a;
}

.portfolio-content .portfolio-card-cover .portfolio-card-title {
  text-align: center;
  color: #67dd0a;
  font-weight: bold;
  font-size: 2.2rem;
  transition: 0.5s;
}

.portfolio-content .portfolio-list .portfolio-card-cover , .portfolio-content .portfolio-card-cover {
  opacity: 0;
  transition: 0.5s;
}

.portfolio-content .portfolio-list .portfolio-card-cover:hover, .portfolio-content .portfolio-card-cover:hover {
  opacity: 1;
}

